#main-header {
    font-family: 'soriasoria';
    width: 100%;
    padding-top: 100px;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;
    }

    .header-name {
        color: $gray;
        font-weight: 100;
        font-size: 3em;


    }

    .header-and {
        color: $white;
        font-weight: 100;

        display: inline-flex;
        padding: 0 .5em;
        
        margin:0;
    }

    .main-date {
        color: $pink;
        font-weight: 100;
        font-size: 2em;
    }
}