@import 'resets/_normalize';
@import 'resets/_boiler';
@import '_theme';
@import '_header';
@import '_hero';
@import '_form';
@import '_nav';

html {
    background: $navy;
}
body {
    $color: $navy;
    background: linear-gradient(45deg, lighten($color, 5%),$color, darken( $color, 5% ));
// max-width: 800px;
// margin: auto;
// text-align: center;
color: $navy;

font-family: 'Open Sans', sans-serif;
}
h1{
//     font-family: 'Amatic SC', cursive;
// font-size: 3em;
// font-weight: 100;
font-family: 'Abril Fatface', cursive;

}
h2 {
    // font-size: 2em;
    // font-family: 'Amatic SC', cursive;
    // font-weight: 100;
    font-family: 'Abril Fatface', cursive;

}

.container {
    max-width: 800px;
    margin: auto;
    // border: solid 1px white;
    padding: 1em;
}
body > section {
    // background: yellow;
}
*:target {
    // background: red;
    padding-top: 50px;
    min-height: 100vh;
}


// #event:after {
//     content: "";
//     border-bottom-left-radius: 50% 20%;
//     border-bottom-right-radius: 50% 20%;
//     background: blue;
//     display: block;
//     height: 100px;
//     width: 90%;
//     padding: 100px;
// }
// #event{
//     background: red;
// }

#main-header {

}


#event {
$color: $green;
    background: linear-gradient(45deg, lighten($color, 5%),$color, darken( $color, 5% ));

}
#party {
    $color: $navy;
    background: linear-gradient(45deg, lighten($color, 5%),$color, darken( $color, 5% ));
    color: $white;

}

#accommodations > div{
   $color: $tan;
   background: linear-gradient(45deg, lighten($color, 5%),$color, darken( $color, 5% ));


}
#registry {
    $color: $peach;
    background: linear-gradient(45deg, lighten($color, 5%),$color, darken( $color, 5% ));

}
#photos {
    $color: $pale;
    background: linear-gradient(45deg, lighten($color, 5%),$color, darken( $color, 5% ));

}
#rsvp {
    $color: $coral;
    background: linear-gradient(45deg, lighten($color, 5%),$color, darken( $color, 5% ));

}
footer {
    $color: $navy;
    height: 100px;
    background: linear-gradient(45deg, lighten($color, 5%),$color, darken( $color, 5% ));

}